VITE_APP_NAME=Bangla Blood
VITE_API_BASE_URL=/api/v1
VITE_WATERMARK_TEXT=Bangla Blood
VITE_WATERMARK_TAGLINE=Donate blood save lives
VITE_WATERMARK_POSITION=bottom-right
VITE_WATERMARK_OPACITY=0.08
VITE_WATERMARK_COLOR=#7a8b84
